h3
{
    font-weight: 300;
    text-transform: capitalize;
    margin:0;
    padding:0;
}
h1
{
    font-size: 40px;
    margin-top:10px;
    text-transform: capitalize;
}
img
{
    display: block;
    margin-left:auto;
}
p
{
    font-size:20px;
    text-transform: capitalize;
}
.department-sec
{
    position: relative;
    margin-bottom:20px;
}
.department
{
    background-color: #fff;
    color:#282828;
    padding:30px;
    height:200px;
}
.department-sec i
{
    font-size: 35px;
    color:#282828;
}
.department h2
{
    margin-top:10px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 25px;
    margin-bottom:20px;
}
.department .box
{
    width:20px;
    height:20px;
    background-color: var(--main-color3);
    display: inline-block;
    margin-right: 5px;
}
a
{
    text-decoration: none;
    color:#282828;
}
.content
{
    height:100%;
}
h2
{
    cursor: pointer;
}
@media all and (max-width:768px)
{
    img
    {
        width:100%;
        margin-bottom:30px;
    }
}